@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Light.woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Regular.woff2');
  /*url(data:font/woff2;charset=utf-8;base64,) format('woff2')*/
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'HK Grotesk', monospace;
  /*font-family: "HK Grotesk", Helvetica, Arial, sans-serif;*/
  overflow: hidden;
  touch-action: none;
}

.mapboxgl-control-container {
  display: none;
}
